Repository crexi-dev/angular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, stylelint --fix --allow-empty-input --max-warnings 0, prettier --write --ignore-unknown

update readme
  .github/workflows/ci.yml
  README.md
  nx.json
Due: eslint --quiet --fix

update readme and add packages
  .husky/pre-commit
  README.md
  apps/angular-task/project.json
  apps/angular-task/src/app/app.config.ts
  apps/angular-task/src/index.html
  apps/angular-task/src/styles.scss
  package-lock.json
  package.json
Due: eslint --quiet --fix, stylelint --fix --allow-empty-input --max-warnings 0, prettier --write --ignore-unknown

disable pre-render
  apps/angular-task/project.json
Due: eslint --quiet --fix

add verbiage
  apps/angular-task/src/app/app.component.html
  apps/angular-task/src/app/app.component.scss
Due: stylelint --fix --allow-empty-input --max-warnings 0, prettier --write --ignore-unknown

fix ci pipeline
  .github/workflows/ci.yml
Due: none

fixes and updates
  apps/angular-task-e2e/playwright.config.ts
  apps/angular-task-e2e/src/example.spec.ts
  apps/angular-task/server.ts
  apps/angular-task/src/app/app.component.spec.ts
  apps/angular-task/src/app/app.config.server.ts
  apps/angular-task/src/main.ts
  apps/angular-task/src/test-setup.ts
  libs/user/data-access/src/lib/user/user.service.ts
  libs/user/ui/src/index.ts
  libs/user/ui/src/lib/console-file.ts
  libs/user/util/src/index.ts
  libs/user/util/src/lib/console-file.ts
Due: eslint --quiet --fix

test with nx agents
  .github/workflows/ci.yml
Due: none

fix e2e test
  apps/angular-task-e2e/src/example.spec.ts
Due: eslint --quiet --fix

back to non agents
  .github/workflows/ci.yml
Due: none

add playwright install
  .github/workflows/ci.yml
Due: none

fix readme link
  README.md
Due: none

fix readme link (#2)
  README.md
Due: none

upgrade to latest
  .gitignore
  nx.json
  package-lock.json
  package.json
Due: eslint --quiet --fix

update ci
  .github/workflows/ci.yml
Due: none

update ci again
  .github/workflows/ci.yml
Due: none

fix package-lock
  package-lock.json
Due: eslint --quiet --fix

rename job to ci
  .github/workflows/ci.yml
Due: none

upgrade to latest (#3)
  .github/workflows/ci.yml
  .gitignore
  nx.json
  package-lock.json
  package.json
Due: eslint --quiet --fix

test updates
  README.md
Due: none

Update readme (#4)
  README.md
Due: none

Update README.md
  README.md
Due: none

add husky prepare script
  package.json
Due: eslint --quiet --fix

Add husky prepare script (#6)
  package.json
Due: eslint --quiet --fix

update readme
  README.md
Due: none

update readme (#7)
  README.md
Due: none

Path conditions:
  eslint --quiet --fix: (any of: *.ts) or (any of: *.json)
  stylelint --fix --allow-empty-input --max-warnings 0: any of: *.scss
  prettier --write --ignore-unknown: any of: *.html
